body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  width: 100vh;
  height: 100vh;
  background-image: linear-gradient(red, yellow, blue)
}

ol, ul {
  padding-left: 30px;
}

.board{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:250px;
  height:250px;
  position: absolute;
  top: 30%;
  left: 30%;

}
h1{
  position: absolute;
  padding : 2%;
  left: 10px;
  color: rgb(216, 193, 193);
  font-size: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1.5px solid #999;
  float: left;
  border-radius: 4px;
  font-size: 34px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  cursor: pointer;

}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
.moves{
  right: 10%;
  padding: 1px;
}

.moves li button{
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
}



ol{
  position: absolute;
  right: 3%;
  top: 25%;

}